<section class="profile-panel">
    <div class="profile-sidebar">
      <img src="Design/portrait2.png" alt="Kagon Portrait" />
    </div>
    <div class="profile-content">
      <h2>Moon Presence</h2>
      <ul>
        <li><strong>Name:</strong> <em>Midara Moonshadow</em></li>
        <li><strong>Race:</strong> Elezen</li>
        <li><strong>Gender:</strong> F+</li>
        <li><strong>Age:</strong> Ancient</li>
        <li><strong>Tribe:</strong> Duskwright</li>
        <li><strong>Deity:</strong> Cloud of Darkness</li>
        <li><strong>Alignment:</strong> Neutral Evil</li>
      </ul>
  
      <div class="profile-quote">
        <blockquote>
          <p>“Exiled from blood. Cast out by faith.<br>
          And yet I still look for her light in the dark.”</p>
        </blockquote>
      </div>
    </div>
  </section>
  